*{
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 50%;
}

.cake .price {
    color: rgb(253, 79, 0);
}

.drink .price {
    color: rgb(211, 100, 0);
}

@media screen and (min-width: 961px) {
    .header {
        height: 10rem;
        background-color: rgb(211, 220, 229);
    }

    .header a img {
        padding: 4rem;
        margin-left: 5rem;
    }

    .nav {
        float: right;
        list-style: none;
    }

    .nav li {
        font-size: 2.5rem;
        display: inline-block;
    }

    .nav li a:link,
    .nav li a:visited {
        display: inline-block;
        color: rgb(100, 100, 100);
        font-weight: bold;
        text-decoration: none;
        padding: 3rem;
        border: .25em solid transparent;
    }

    .nav li a:hover {
        color: rgb(253, 79, 0);
        border-image: url(img/border_round.png) 1 round;
    }

    .carousel {
        width: 95%;
        position: relative;
        margin: 2rem auto;
        overflow: hidden;
    }

    .inner {
        width: 500%;
        position: relative;
        left: 0;
    }

    .inner a img {
        width: 20%;
        display: inline-block;
        float: left;
    }

    .circle {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-9rem);
    }

    .circle button {
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 1rem;
    }

    .circle-hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .cake-header,
    .drink-header,
    .about-header {
        text-align: center;
        font-size: 4rem;
        margin: 0 auto;
        border-bottom: .3rem solid rgb(253, 79, 0);
        width: 10%;
    }

    .cake,
    .about {
        background-color: rgb(211, 220, 229);
        padding-top: 4rem;
        padding-bottom: 2rem; 
    }

    .cake a:link,
    .cake a:visited,
    .drink a:link,
    .drink a:visited  {
        display: inline-block;
        width: 20%;
        margin-left: 4%;
        margin-top: 4rem;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .cake img,
    .drink img {
        max-width: 100%;
        border-radius: 1rem;
    }

    .drink {
        background-color: rgb(255, 255, 255);
        padding-top: 4rem;
    }

    .about {
        margin-top: 3rem;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(30, 30, 30);
        padding-bottom: 3rem;
    }

    .about p {
        margin-top: 2rem;
    }

    .about ul {
        list-style: none;
        margin-top: 2rem;
    }

    .about ul li {
        display: inline-block;
        border-right: .1rem solid;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .about ul li a:link,
    .about ul li a:visited {
        text-decoration: none;
        color: rgb(30, 30, 30);
    }

    .about ul li a:hover {
        color: rgb(253, 79, 0);
    }
}

@media screen and (max-width: 960px) {
    .header {
        height: 22rem;
        background-color: rgb(211, 220, 229);
    }

    .header a {
        display: block;
        text-align: center;
    }

    .header a img {
        padding: 2rem;
    }

    .nav li {
        list-style: none;
        font-size: 2rem;
    }

    .nav li a:link,
    .nav li a:visited {
        display: block;
        color: rgb(100, 100, 100);
        font-weight: bold;
        padding: .3rem;
        text-align: center;
        text-decoration: none;
        border: .25em solid transparent;
    }

    .nav li a:hover {
        color: rgb(253, 79, 0);
    }

    .carousel {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .inner {
        width: 500%;
        position: relative;
        left: 0;
    }

    .inner a img {
        width: 20%;
        display: inline-block;
        float: left;
    }

    .circle {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-9rem);
    }

    .circle button {
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 1rem;
    }

    .circle-hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

        .cake-header,
    .drink-header,
    .about-header {
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
        border-bottom: .3rem solid rgb(253, 79, 0);
        width: 20%;
    }

    .cake,
    .about {
        background-color: rgb(211, 220, 229);
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .cake a:link,
    .cake a:visited,
    .drink a:link,
    .drink a:visited  {
        display: inline-block;
        width: 40%;
        margin-left: 6%;
        margin-top: 4rem;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .cake img,
    .drink img {
        max-width: 100%;
        border-radius: 1rem;
    }

    .drink {
        background-color: rgb(255, 255, 255);
        padding-top: 4rem;
    }

    .about {
        margin-top: 3rem;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(30, 30, 30);
        padding-bottom: 3rem;
    }

    .about p {
        margin-top: 2rem;
    }

    .about ul {
        list-style: none;
        margin-top: 2rem;
    }

    .about ul li {
        display: inline-block;
        border-right: .1rem solid;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .about ul li a:link,
    .about ul li a:visited {
        text-decoration: none;
        color: rgb(30, 30, 30);
    }

    .about ul li a:hover {
        color: rgb(253, 79, 0);
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 22rem;
        background-color: rgb(211, 220, 229);
    }

    .header a {
        display: block;
        text-align: center;
    }

    .header a img {
        padding: 2rem;
    }

    .nav li {
        list-style: none;
        font-size: 2rem;
    }

    .nav li a:link,
    .nav li a:visited {
        display: block;
        color: rgb(100, 100, 100);
        font-weight: bold;
        padding: .3rem;
        text-align: center;
        text-decoration: none;
        border: .25em solid transparent;
    }

    .nav li a:hover {
        color: rgb(253, 79, 0);
    }

    .carousel {
        width: 100%;
        position: relative;

        overflow: hidden;
    }

    .inner {
        width: 500%;
        position: relative;
        left: 0;
    }

    .inner a img {
        max-width: 20%;
        display: inline-block;
        float: left;
    }

    .circle {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-9rem);
    }

    .circle button {
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 1rem;
    }

    .circle-hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .cake-header,
    .drink-header,
    .about-header {
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
        border-bottom: .3rem solid rgb(253, 79, 0);
        width: 25%;
    }

    .cake,
    .about {
        background-color: rgb(211, 220, 229);
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .cake a:link,
    .cake a:visited,
    .drink a:link,
    .drink a:visited  {
        display: inline-block;
        width: 40%;
        margin-left: 6%;
        margin-top: 4rem;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .cake img,
    .drink img {
        max-width: 100%;
        border-radius: 1rem;
    }

    .drink {
        background-color: rgb(255, 255, 255);
        padding-top: 4rem;
    }

    .about {
        margin-top: 3rem;
        font-size: 1.5rem;
        text-align: center;
        color: rgb(30, 30, 30);
        padding-bottom: 3rem;
    }

    .about p {
        margin-top: 2rem;
    }

    .about ul {
        list-style: none;
        margin-top: 2rem;
    }

    .about ul li {
        display: inline-block;
        border-right: .1rem solid;
        padding-right: 2rem;
        padding-left: 1rem;
    }

    .about ul li a:link,
    .about ul li a:visited {
        text-decoration: none;
        color: rgb(30, 30, 30);
    }

    .about ul li a:hover {
        color: rgb(253, 79, 0);
    }
}